.product-details-area {
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	z-index: -10;
	background-color: #eaeaea;
}
.product-details-area-80 {
	background-size: 80%!important
}
.product-details-left {
	padding: 60px 0;
}
.product-details-right {
	padding: 60px 60px 120px 0!important;
}
.product-details-thumb ul>li {
	height: 60px;
	width: 60px;
	list-style-type: none;
	cursor: pointer;
	margin-top: 15px;
	background-color: #fff;

}
.product-thumb {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow : hidden;
	border : 1px solid #eceaeb;
}

.product-thumb-hover {
	border : 1px solid #000;
}
.product-thumb-active {
	border : 1px solid #FF6602;
}
.product-details-content {
	background-color: #fff;
	padding: 10px 20px 50px 30px;
	border-radius: 5px;
	width: 70%;
	height: auto;
	float: right;
}
.product-details-title h2 {
	font-size: 4rem;
	text-transform: capitalize;
}
.product-details-description p {
	color: #333;
	font-style: italic;
	font-size: 1.4rem;
	padding: 30px 0;
}
.product-details-color {
	padding-bottom:  40px;
}
.product-details-color p{
	font-size: 2rem;
	padding-bottom: 10px;
}
span.product-color {
	display: inline-block;
	height: 25px;
	width: 25px;
	border : 1px solid #bdadad;
	border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
}

.color-active {
	width: 30px!important;
	height: 30px!important;
}
.product-details-price p{
	font-size: 2.4rem;
	display: inline-block;
	margin-right: 20px;
}

.product-details-price a {
	font-size: 1.6rem;
	color: #fff;
	display: inline-block;
	padding: 15px 30px;
	background-color: #FF6602;
	text-decoration: none;
	text-transform: capitalize;
}
.product-main-menu {
	border-bottom: 1px solid #eceaeb;
	text-align: center;
}
.product-main-menu ul{
	width: 50%;
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-left: 5%;
}
.product-main-menu ul>li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
}
.product-main-menu ul>li>a {
	display: inline-block;
	font-size: 2rem;
	padding: 20px 26px;
	text-decoration: none;
	color: #000;
	text-transform: capitalize;
}
.product-main-menu ul>li:hover {
	border-bottom: 1px solid #000;
}
.product-main-menu-fixed {
	position: fixed;
	top: 0;
	background-color: #fff;
	width: 100%;
	z-index: 1001;

}
.product-main-menu-fixed ul{
	margin-left: 27%;
}
.product-price-fixed {
	width: 22%;
	display: inline-block;
	text-align: right;
}
.product-price-fixed p{
	display: inline-block;
	font-size: 1.6rem;
	margin-right: 15px;
}
.product-price-fixed p>span {
	font-size: 1rem;
	text-transform: uppercase;
}
.product-price-fixed a {
	font-size: 1.6rem;
	display: inline-block;
	padding: 10px 20px;
	background-color: #FF6602;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
}
.product-main-info-top-left {
	padding: 30px 0 0 50px;
}
.product-main-info-top-left h2 {
	font-size: 3.6rem;
	text-transform: capitalize;
	padding-bottom: 30px;
}
.product-info-top-right img {
	width: 100%;
}
.product-main-info-bottom {
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	text-align: center;
	padding-top: 10%;

}
.product-main-info-bottom p {
	font-size: 4rem;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-style: italic;
	margin: 0 15%;
	padding-bottom: 80px;
}
.product-main-info-bottom a{
	text-decoration: none;
}
.product-main-info-bottom i {
	padding: 35px;
	border : 3px solid #fff;
	color: #FF6602;
	border-radius: 50%;
	font-size: 4rem;
	cursor: pointer;
	background-color: #fff;
}
.product-main-features {
	padding: 100px 0;
	border-bottom: 1px solid #eaeaea;
}
.product-main-features-left img {
	width: 98%;
}
.product-main-features-right ul{
	padding: 0;
	list-style-type: none;
	float: left;
	width: 100%;
}
.product-main-features-right ul>li {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}
.product-main-features-right ul>li>i {
	font-size: 4rem;
	color: black;
	width: 10%;
	float: left;
	opacity: 0.7;
	padding-top: 15px;
}
.product-main-features-right-content {
	width: 90%;
	float: left;
}
.product-main-features-right-content h4{
	font-size: 2.4rem;
}
.product-main-features-right-content p{
	font-style: italic;
}
.product-main-specifications {
	border-bottom: 1px solid #eaeaea;
	padding-bottom:  80px;
}
.product-main-specifications-title h2 {
	text-align: center;
	text-transform: capitalize;
	font-size: 3rem;
	padding: 50px 0;
}
.product-main-specifications-content {
	padding:  0 10%;
}
.specifications-item {
	margin-bottom: 20px;
}
.specifications-item-toggle-title{
	background-color: #eaeaea;
	cursor: pointer;
	font-size: 2.4rem;
	text-transform: capitalize;
	padding: 0px 5% 5px ;
}
.specifications-item-toggle-title h2 {
	width: 80%;
	display: inline-block;
	font-size: 2.2rem;
}
.specifications-item-toggle-title span {
	width: 19%;
	text-align: right;
	display: inline-block;
	font-size: 3.2rem;
}
.specifications-item-toggle-title:hover {
	background-color: rgba(43,41,42,.9);
	color: #fff;
}
.specifications-item-toggle-title-active {
	background-color: rgba(43,41,42,.9);
	color: #fff;
}
.specifications-item-toggle-content ul{
	padding: 0;
	width: 100%;
	display: inline-block;
}
.specifications-item-toggle-content ul>li{
	list-style-type: none;
	display: inline-block;
	width: 100%;
	padding: 10px 0 10px 30px;
	border-bottom: 1px solid #eceaeb;
}
.specifications-item-toggle-content ul>li>h6{
	width: 30%;
	display: inline-block;
	font-size: 1.8rem;
}
.specifications-item-toggle-content ul>li>p{
	width : 69%;
	display : inline-block;
}
.product-involve-area {
	padding: 50px 0 80px 0;
}
.product-involve-title h2 {
	text-align: center;
	font-size: 3rem;
	text-transform: capitalize;
	padding-bottom: 50px;
}
.product-involve-content {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 5%;
}
.product-involve-item {
	width: 30%;
	background-color: #fff;
	margin-right: 3.3%;
	margin-bottom: 2%;
	box-shadow: 0 6px 11px rgba(36,37,38,0.04);
	border : 1px solid #eceaeb;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	height: auto;
}
.product-involve-item-thumb img{
	width: 100%;
	padding-top: 20px;
}
.product-involve-item-content {
	padding:0 30px 30px;
}
h2.product-involve-item-name {
	font-size: 2.6rem;
	font-weight: bold;
	text-transform: capitalize;
	padding-bottom: 20px;
}
p.product-involve-item-description {
	font-size: 1.6rem;
	font-style: italic;
}
p.product-involve-item-price {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 40px;
	color: #FF6602;
}
