<%- include('include/header-top') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/aboutUs.css">

<%- include('include/header') %>

<!-- section homepage -->
<section>

	<div class="container-fluid">

		<div class="fixed-option hidden-sm hidden-xs" id="fixed-option">
			<ul>
				<li><a href="#aboutUs">Về chúng tôi</a></li>
				<li><a href="#policy">Điều kiện và điều khoản</a></li>
				<li><a href="#secret">Chính sách bảo mật</a></li>
			</ul>
		</div>
		<div class="main-area about-us-area" id="aboutUs">
			<h2>Về chúng tôi</h2>
			<div class="main-content about-us-content">
				<h3>Giới Thiệu</h3>
				<p>Công ty cổ phần và thương mại công nghệ Gaming : Ghost Gaming Gear</p>
				<p><b>Trụ sở chính</b> : Tầng 22 , Tòa Nhà Icon4 , 242a Đê La Thành , Q.Đống Đa , Tp.Hà Nội</p>
				<p>Điện thoại : 1900.1000</p>
				<p>Email : ghostgaminggear@gmail.com</p>
				<hr>
				<p><b>Showroom Trưng Bày & Bán Lẻ Tp.Hà Nội</b> : 323 Nguyễn Văn Cừ , Q.Long Biên , Tp.Hà Nội</p>
				<p>Điện thoại : 01689.187.670</p>
				<hr>
				<p><b>Showroom Trưng Bày & Bán Lẻ Tp.Hồ Chí Minh</b> : Số 5 Quận 1 , Tp.Hồ Chí Minh</p>
				<p>Điện thoại : 01689.670.187</p>
				<br>
				<h3>Thông tin doanh nghiệp</h3>
				<p><b>Đăng ký kinh doanh : </b>Giấy chứng nhận đăng ký kinh doanh số 0102755856 – do Sở kế hoạch đầu tư Thành phố Hà Nội cấp</p>
				<p><b>Đăng ký mã số thuế : </b>Đăng ký mã số thuế số: 0102755856 - do cục thuế Thành phố Hà Nội cấp ngày 28.05.2008</p>
			</div>
		</div>
		<div class="main-area policy-area" id="policy" style="background-color:#eee ">
			<h2>Điều khoản và điều kiện</h2>
			<div class="main-content policy-content">
				<h3>Điều khoản : </h3>
				<p><b>1. Chấp nhận các điều kiện sử dụng</b></p>
				<p>Khi sử dụng Website của GHOSTGAMINGGEAR (GGG), Quý khách đã mặc nhiên chấp thuận các điều khoản và điều kiện sử dụng được quy định dưới đây. Để biết được các sửa đổi mới nhất, Quý khách nên thường xuyên kiểm tra lại “Điều Kiện và điều khoản”.</p>
				<p>GHOSTGAMINGGEAR có quyền thay đổi, điều chỉnh, thêm hay bớt các nội dung của “Điều Kiện và điều khoản” tại bất kỳ thời điểm nào. Nếu Quý khách vẫn tiếp tục sử dụng Website sau khi có các thay đổi như vậy thì có nghĩa là Quý khách đã chấp thuận các thay đổi đó.</p>
				<hr>
				<p><b>2. Tính chất thông tin hiển thị</b></p>
				<p>Các nội dung hiển thị trên Website nhằm mục đích cung cấp thông tin về GHOSTGAMINGGEAR, về thông tin sản phẩm và dịch vụ mà mà GHOSTGAMINGGEAR đang cung cấp.</p>
				<p>Các thông tin khác liên quan nhằm phục vụ nhu cầu tìm hiểu của khách hàng đều được ghi rõ nguồn cung cấp.</p>
				<hr>
				<p><b>3. Miễn trừ trách nhiệm</b></p>
				<p>GHOSTGAMINGGEAR từ chối trách nhiệm hay đưa ra đảm bảo rằng website sẽ không có lỗi vận hành, an toàn, không bị gián đoạn hay tính chính xác, đầy đủ và đúng hạn của các thông tin hiển thị.</p>
				<p>Thông tin hiển thị tại website này không đi kèm bất kỳ đảm bảo hay cam kết trách nhiệm từ phía GHOSTGAMINGGEAR về sự phù hợp của sản phẩm, dịch vụ mà người mua đã lựa chọn.</p>
				<p>Các điều kiện và hạn chế nêu trên chỉ có hiệu lực trong khuôn khổ pháp luật hiện hành.</p>
				<hr>
				<p><b>4. Quyền sở hữu trí tuệ</b></p>
				<p>Website này và mọi nội dung xếp đặt, hiển thị đều thuộc sở hữu và là tài sản độc quyền khai thác của GHOSTGAMINGGEAR và các nhà cung cấp có liên quan khác.</p>
				<p>Mọi sử dụng, trích dẫn phải không gây thiệt hại cho GHOSTGAMINGGEAR và đều phải tuân thủ các điều kiện sau:</p>
				<ul>
					<li>Chỉ sử dụng cho mục đích cá nhân, phi thương mại.</li>
					<li>Các sao chép hoặc trích dẫn đều phải giữ nguyên dấu hiệu bản quyền hoặc các yết thị về quyền sở hữu trí tuệ như đã thể hiện trong phiên bản gốc.</li>
				</ul>
				<p>Tất cả các nội dung được cung cấp tại Website này không được phép nhân bản, hiển thị, công bố, phổ biến, đưa tin tức hay lưu hành cho bất cứ ai, dưới bất kỳ hình thức nào, kể cả trên các Website độc lập khác mà không được sự chấp thuận của GHOSTGAMINGGEAR.</p>
				<br>
				<h3>Điều kiện : </h3>
				<p id="upMedals"><b>1. Nâng cấp tài khoản thành viên</b></p>
				<p>Khi đăng ký tài khoản tại GHOSTGAMINGGEAR , khách hàng có thể đạt được danh hiệu riêng tương ứng với ưu đãi tài khoản khi đạt đủ điều kiện sau : .</p>
				<table class="table">
					<thead>
						<tr>
							<th>Loại tài khoản</th>
							<th>Ưu đãi mỗi đơn hàng</th>
							<th>Tổng tiền giao dịch cần</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Silver Member</td>
							<td>3%</td>
							<td>Lớn hơn hoặc bằng : 15.000.000 đ</td>
						</tr>
						<tr>
							<td>Gold Member</td>
							<td>6%</td>
							<td>Lớn hơn hoặc bằng : 25.000.000 đ</td>
						</tr>
						<tr>
							<td>Platinum Member</td>
							<td>10%</td>
							<td>Lớn hơn hoặc bằng : 50.000.000 đ</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<p><b>2. Chính sách bảo hành</b></p>
				<p>Thời gian : Trong  vòng 15 ngày đầu sau khi mua hàng sản phẩm bị lỗi thì được đổi sản phẩm mới 100% (Sản phẩm phải có đầy đủ vỏ hộp, phụ kiện kèm theo và không bị trầy xước, không vi phạm điều kiện bảo hành khác và không phải là vật tư tiêu hao ).</p>
				<p>Những trường hợp <b>không</b> đủ điều kiện bảo hành : </p>
				<ul>
					<li>Thiết bị không có phiếu bảo hành, phiếu bảo hành đã bị sửa đổi thông tin, bị chắp nối, rách, nát…
					</li>
					<li>Các thiết bị không còn nguyên tem bảo hành và mã vạch của hãng sản xuất, nhà phân phối và của Công ty GHOSTGAMINGGEAR</li>
					<li>Sử dụng điện áp sai quy định, quá công suất của thiết bị hoặc cháy nổ, rơi móp, nứt, thủng, nước vào, trầy xước…</li>
					<li>Hư hỏng do thiên tai, động vật, côn trùng và con người gây ra.</li>
					<li>Tất cả các lỗi liên quan đến phần mềm.</li>
					<li>Hết thời gian bảo hành ghi trên phiếu.</li>
					<li>Khách hàng tự ý can thiệp vào Bios và phần cứng khác gây hư, hỏng. </li>
				</ul>


			</div>
		</div>
		<div class="main-area secret-area" id="secret" style="border:none!important;">
			<h2>Chính sách bảo mật</h2>
			<div class="main-content about-us-content">
				<h3>Quy định</h3>
				<p><b>1. Mục đích thu thập thông tin cá nhân</b></p>
				<p>Công ty thu thập Thông tin cá nhân của Khách hàng cho một hoặc một số mục đích như sau:</p>
				<ul>
					<li>Thực hiện và quản lý việc đặt hàng, mua hàng và bảo hành</li>
					<li>Thực hiện và quản lý hoạt động tiếp thị, cung cấp thông tin khuyến mại tới Khách hàng như gửi các cập nhật mới nhất về thông tin khuyến mại và chào giá mới liên quan đến sản phẩm của chúng tôi</li>
					<li>Tiếp nhận thông tin, góp ý, đề xuất, khiếu nại của Khách hàng nhằm cải thiện chất lượng dịch vụ của công ty</li>
					<li>Liên hệ với Khách hàng để giải quyết các yêu cầu của Khách hàng</li>
				</ul>
				<hr>
				<p><b>2. Sử dụng thông tin cá nhân</b></p>
				<p>Công ty thu thập và sử dụng thông tin cá nhân quý khách với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.</p>
				<p>Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gửi thư ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về kỹ thuật và bảo mật, quý khách có thể nhận được thư định kỳ cung cấp thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới hoặc thông tin tuyển dụng nếu quý khách đăng kí nhận email thông báo.</p>
				<hr>
				<p><b>3. Quyền của Khách hàng đối với các Thông tin cá nhân được thu thập</b></p>
				<p>Bất cứ thời điểm nào quý khách cũng có thể truy cập và chỉnh sửa những thông tin cá nhân của mình theo các liên kết.</p>
				<hr>
				<p><b>4. Bảo mật thông tin cá nhân</b></p>
				<p>Khi bạn gửi thông tin cá nhân của bạn cho chúng tôi, bạn đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên, Công ty cam kết bảo mật thông tin cá nhân của quý khách bằng mọi cách thức có thể.  Tuy nhiên do hạn chế về mặt kỹ thuật, không một dữ liệu nào có thể được truyền trên đường truyền internet mà có thể được bảo mật 100%. Do vậy, chúng tôi không thể đưa ra một cam kết chắc chắn rằng thông tin quý khách cung cấp cho chúng tôi sẽ được bảo mật một cách tuyệt đối an toàn, và chúng tôi không thể chịu trách nhiệm trong trường hợp có sự truy cập trái phép thông tin cá nhân của quý khách như các trường hợp quý khách tự ý chia sẻ thông tin với người khác…. Nếu quý khách không đồng ý với các điều khoản như đã mô tả ở trên, Chúng tôi khuyên quý khách không nên gửi thông tin đến cho chúng tôi.</p>
				<p>Công ty cũng khuyến cáo quý khách nên bảo mật các thông tin liên quan đến mật khẩu truy xuất của quý khách và không nên chia sẻ với bất kỳ người nào khác.</p>
				<p>Nếu sử dụng máy tính chung nhiều người, quý khách nên đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang mở.</p>
			</div>
		</div>
	</div>

</section>

<%- include('include/all-modal') %>

<%- include('include/footer') %>

<script>
	var x = $(".fixed-option").offset();
	$(window).bind('scroll', function () {
		if ($(window).scrollTop() > x.top) {
			$('.fixed-option').addClass('fixed-option-fixed');
		} else {
			$('.fixed-option').removeClass('fixed-option-fixed');
		}
	});

</script>
