
	<div class="social-area" id="social">
		<div class="container-fluid">
			<div class="follow-social">
				<div class="follow-logo">
					<ul>
						<li>
							<a class="twitter" href="">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a class="facebook" href="">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a class="twitch" href="">
								<i class="fa fa-twitch" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a class="instagram" href="">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a class="youtube" href="">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</li>
					</ul>				
				</div>
				<div class="follow-text">
					<p>For Gamers . By Gamers .</p>
				</div>
			</div>
			<div class="review-social hidden-xs">
				<div class="review-gallery">
					<ul>
						<li class="review-gallery-user" id="gallery-user1" Stt="0">
							<img src="">
						</li>
						<li class="review-gallery-user" id="gallery-user2" Stt="1">
							<img src="">
						</li>
						<li class="review-gallery-user" id="gallery-user3" Stt="2">
							<img src="">
						</li>
						<li class="review-gallery-user review-active" id="gallery-user4" Stt="3">
							<img src="">
						</li>
						<li class="review-gallery-user" id="gallery-user5" Stt ="4">
							<img src="">
						</li>
						<li class="review-gallery-user" id="gallery-user6" Stt="5">
							<img src="">
						</li>
						<li class="review-gallery-user" id="gallery-user7" Stt="6">
							<img src="">
						</li>
					</ul>
				</div>
				<div class="review-user" stt="0" style="display: none">
					<p class="review-user-name">
						Evany
					</p>
					<p class="review-user-address">
						Hà Nội
					</p>
				</div>
				<div class="review-user" stt="1" style="display: none">
					<p class="review-user-name">
						Shoxx
					</p>
					<p class="review-user-address">
						Hà Nội
					</p>
				</div>
				<div class="review-user" stt="2" style="display: none">
					<p class="review-user-name">
						Arterzy
					</p>
					<p class="review-user-address">
						Hà Nội
					</p>
				</div>
				<div class="review-user" stt="3">
					<p class="review-user-name">
						KennyS
					</p>
					<p class="review-user-address">
						Hà Nội
					</p>
				</div>
				<div class="review-user" stt="4" style="display: none">
					<p class="review-user-name">
						Niko
					</p>
					<p class="review-user-address">
						Hà Nội
					</p>
				</div>
				<div class="review-user" stt="5" style="display: none">
					<p class="review-user-name">
						Dev1ce
					</p>
					<p class="review-user-address">
						Hà Nội
					</p>
				</div>
				<div class="review-user" stt="6" style="display: none">
					<p class="review-user-name">
						Kjaerbye
					</p>
					<p class="review-user-address">
						Hà Nội
					</p>
				</div>
				<div class="review-information">
					<span class="review-button review-previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
					<span class="review-content" stt="0" style="display: none;">
						Evany : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
					</span>
					<span class="review-content" stt="1" style="display: none;">
						Shoxx : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					</span>
					<span class="review-content" stt="2" style="display: none;">
						RTZ : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to makeaaaaaaaaa 
					</span>
					<span class="review-content" stt="3">
						KennyS : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
					</span>
					<span class="review-content" stt="4" style="display: none;">
						Niko : Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					</span>
					<span class="review-content" stt="5" style="display: none;">
						Dev1ce : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when to make a type specimen book
					</span>
					<span class="review-content" stt="6" style="display: none;">
						KjaerBye : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
					</span>
					<span class="review-button review-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="other-product-category">
		<div class="other-product-category-item">
			<div class="other-product-category-scale other-product-category-keyboard">
				<p>Bàn Phím</p>
			</div>
		</div>
		<div class="other-product-category-item">
			<div class="other-product-category-scale other-product-category-mice">
				<p>Chuột</p>
			</div>
		</div>
		<div class="other-product-category-item">
			<div class="other-product-category-scale other-product-category-laptop">
				<p>Laptop</p>
			</div>
		</div>
		<div class="other-product-category-item">
			<div class="other-product-category-scale other-product-category-other">
				<p>Sản phẩm khác</p>
			</div>
		</div>
	</div>